<?xml version="1.0"?>
<config>
    <modules>
        <Potato_Gridautocomplete>
            <version>1.1.0</version>
        </Potato_Gridautocomplete>
    </modules>
    <admin>
        <routers>
            <po_gridautocomplete_admin>
                <use>admin</use>
                <args>
                    <module>Potato_Gridautocomplete</module>
                    <frontName>po_gridautocomplete_admin</frontName>
                </args>
            </po_gridautocomplete_admin>
        </routers>
    </admin>
</config>